<div id='landing-page-wrapper'>
  <div id='site-summary'>
    Yo Quiero Mis Quince
  </div>
  <div id='find-or-cash'>
      <div id='find'>
        <%= link_to 'Find a Dress' %>
      </div>
      <div id='cash'>
        <%= link_to 'Cash a Dress' %>
      </div>
  </div>
</div>
