<div id='landing-page-wrapper'>
  <div id='site-summary'>
    Summary about my Quince App
  </div>

  <div id='signup-signin-forms'>
    <div id='signin-form'>
      <%= render 'sign_in' %>
    </div>

    <div id='signup-form'>
      <%= render 'sign_up' %>
    </div>
  </div>
</div>