<h1> Edit the information for this Dress </h1> 
<div id="edit-dress-form">
  <h2> Remember that if you decide to edit the information, the dress will have to go through an approval process again. </h2>
  <%= render 'form', dress: @dress %>
</div>
