<h1>Get $$$ for your Dress</h1> 
<div id="new-dress-form">
<p> Tell us about the Dress </p>
<div>
      Price:<input type="number"
       min="0"
       max="5000"
       value="Price">
    </div>
</div>

sizes=["US-2","US-4","US-6","US-7","US-8","US-9","US-10", "US-11"]