<div class="find-or-cash">
  <div class='ghost-btn'>
    <%= link_to 'Find a Dress', dresses_path %>
  </div>
  <div class='ghost-btn'>
    <%= link_to 'Cash in a Dress', new_dress_path %>
  </div>
</div>
