<div id='find-or-cash'>
      <div id='find'>
        <%= link_to 'Find a Dress', dresses_path %>
      </div>
      <div id='cash'>
        <%= link_to 'Cash in a Dress', new_dress_path %>
      </div>
</div>
